/* Put your CSS here */
html, body {
    margin: 20px;
}
.active{
    font-weight:bold; 
}

.btn-primary {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 1 );
	border-radius: 3px;
	background-color: #CBD4D6;
	border-color: #666;
	color: black;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #666;
	border-color: #666;
}


.btn-sm {
	height: 20px;
	line-height: 10px;
	text-align: center;
}

.table {

	width: 50%;
}

.modaltable {
	width: 100%;
}

.modaltable td:first-child {
	width: 15%;
}

.modaltable td:first-child + td {
	width: 85%;
}

.modal-header{min-height:16.428571429px;padding:15px;border-bottom:1px solid #e5e5e5}

.modal-header .close{margin-top:-2px}

.modal-body{position:relative;padding:20px}

.modal-footer{padding:19px 20px 20px;margin-top:15px;text-align:right;border-top:1px solid #e5e5e5}

.modal-footer:before,.modal-footer:after{display:table;content:" "}.modal-footer:after{clear:both}.modal-footer:before,.modal-footer:after{display:table;content:" "}.modal-footer:after{clear:both}.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px}.modal-footer .btn-group .btn+.btn{margin-left:-1px}.modal-footer .btn-block+.btn-block{margin-left:0}

.edit {
	width: 3%;
}

.payees li:after {
	content: ',';
}

.payees li:nth-last-child(3):after {
	content: " ";
}

.positive {
	color: green;
}

.negative {
	color: red;
}

#payments {
	width: 50%;
}
.arrow {
    width:75px;
}

.line {
    margin-top:10px;
    width:60px;
    background:orange;
    height:7px;
    float:left;
}
.point {    
    width: 0;
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid orange;
    float:right;
}
